<%- include('../layout/start') %>
    <%- include('../layout/navbar',{x}) %>
        <!-- Breadcrumb Section Begin -->
        <section class="breadcrumb-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb__text">
                            <h4>Shop</h4>
                            <div class="breadcrumb__links">
                                <a href="./index.html">Home</a>
                                <span>Shop</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Shop Section Begin -->
        <section class="shop spad pt-3">
            <div class="container-fuild m-5">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="shop__sidebar">
                            <div class="shop_sidebar_search">
                                <form action="#">
                                    <input onkeyup="filtersearch()" id="search" type="text" placeholder="Search...">
                                    <button type="submit"><span class="icon_search"></span></button>
                                </form>
                            </div>
                            <div class="shop_sidebar_accordion">
                                <div class="accordion" id="accordionExample">
                                    <div class="card">
                                        <div class="card-heading">
                                            <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                        </div>
                                        <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <div class="shop_sidebar_categories">
                                                    <ul class="nice-scroll " style="height: 100px">
                                                        <% cate_Data.forEach(element=> {%>
                                                            <li style="height: 30px;"
                                                                class=" d-flex justify-content-start align-items-center">
                                                                <input onclick="category('<%=element.category%>')"
                                                                    value="<%=element.category%>"
                                                                    id="<%=element.category%>" class="mx-2"
                                                                    type="checkbox">
                                                                <label class="m-0 text-uppercase " for="">
                                                                    <%= element.category %>
                                                                </label>
                                                            </li>
                                                            <% }); %>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-heading">
                                            <a data-toggle="collapse" data-target="#collapseTwo">Branding</a>
                                        </div>
                                        <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <div class="shop_sidebar_brand">
                                                    <ul>
                                                        <%barnd.forEach(element=> { %>
                                                            <li>
                                                                <input onclick="brand('<%=element%>')" id="<%=element%>"
                                                                    value="<%= element%>" class="mx-2" type="checkbox">
                                                                <label class="m-0 text-uppercase " for="">
                                                                    <%= element%>
                                                                </label>

                                                            </li>
                                                            <% }); %>


                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-heading">
                                            <a data-toggle="collapse" data-target="#collapseThree">Filter Price</a>
                                        </div>
                                        <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <div class="shop_sidebar_price">
                                                    <ul>
                                                        <li>
                                                            <input onclick="price(1)" id="ONE" value="0,999" type="checkbox">
                                                            <label for="">$0.00 - 999</label>
                                                        </li>
                                                        <li>
                                                            <input onclick="price(2)" id="TWO" value="1000,1999" type="checkbox">
                                                            <label for="">$1000 - 1999</label>
                                                        </li>
                                                        <li>
                                                            <input onclick="price(3)" id="THREE" value="2000,4999" type="checkbox">
                                                            <label for="">$2000 - 4999</label>
                                                        </li>
                                                        <li>
                                                            <input onclick="price(4)" id="FORE"  value="5000" type="checkbox">
                                                            <label for="">5000-ABOUVE</label>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseFour">Size</a>
                                    </div>
                                    <div id="collapseFour" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop_sidebar_size">
                                                <label for="xs">xs
                                                    <input type="radio" id="xs">
                                                </label>
                                                <label for="sm">s
                                                    <input type="radio" id="sm">
                                                </label>
                                                <label for="md">m
                                                    <input type="radio" id="md">
                                                </label>
                                                <label for="xl">xl
                                                    <input type="radio" id="xl">
                                                </label>
                                                
                                                <label for="xxl">xxl
                                                    <input type="radio" id="xxl">
                                                </label>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                    <!-- <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseFive">Colors</a>
                                    </div>
                                    <div id="collapseFive" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop_sidebar_color">
                                                <label class="bg-success" for="sp-1">
                                                    <input type="radio" id="sp-1">
                                                </label>
                                                <label class="bg-danger" for="sp-1">
                                                    <input type="radio" id="sp-1">
                                                </label>
                                                <label class="bg-warning" for="sp-1">
                                                    <input type="radio" id="sp-1">
                                                </label>
                                                <label class="bg-dark" for="sp-1">
                                                    <input type="radio" id="sp-1">
                                                </label>
                                                <label class="bg-primary" for="sp-1">
                                                    <input type="radio" id="sp-1">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                    <!-- <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#collapseSix">Tags</a>
                                    </div>
                                    <div id="collapseSix" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop_sidebar_tags">
                                                <a href="#">Product</a>
                                                <a href="#">Bags</a>
                                                <a href="#">Shoes</a>
                                                <a href="#">Fashio</a>
                                                <a href="#">Clothing</a>
                                                <a href="#">Hats</a>
                                                <a href="#">Accessories</a>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- //////////////////////////////////// -->
                    <div class="col-lg-9">
                        <div class="shop_product_option">
                            <div class="row">

                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="shop_productoption_left">
                                        <p>Showing 1–12 of 126 results</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="shop_productoption_right">
                                        <p>Sort by Price:</p>
                                        <select>
                                            <option value="">Low To High</option>
                                            <option value="">$0 - $55</option>
                                            <option value="">$55 - $100</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="Filter" class="row">
                            <%pro_Data.forEach((element,i)=> { %>

                                <div class="col-lg-4 col-md-6 col-sm-6 col-xl-3">
                                    <a href="/product-deatil?id=<%=element._id %>">
                                        <div class="product__item">
                                            <div class="product_item_pic set-bg">
                                                <img class="h-100 w-100" src="product/<%= element.image[0] %>" alt="">
                                                <ul class="product__hover">
                                                    <li><a href="/wishlist?id=<%=element._id %>"><img src="img/icon/heart.png" alt=""></a></li>
                                                </ul>
                                            </div>
                                            <div class="product_item_text">
                                                <h6>
                                                    <%=element.brand%>
                                                </h6>
                                                <p class="">
                                                    <%=element.title%>
                                                </p>
                                                <a href="/add-cart?id=<%= element._id %>" class="add-cart">+ Add To
                                                    Cart</a>
                                                <!-- <div  class="rating">
                                        <i class="fa fa-star-o">x</i>
                                        <i class="fa fa-star-o">x</i>
                                        <i class="fa fa-star-o">x</i>
                                        <i class="fa fa-star-o">x</i>
                                        <i class="fa fa-star-o">x</i>
                                    </div> -->
                                                <h5><span class="mx-2">₹<%=element.price-element.discount%></span><small
                                                        class="mx-2 text-danger text-decoration-line-through">₹
                                                        <%=element.price%></small><span class="text-success mx-2">
                                                        <%=(Math.round((element.discount*100) /element.price))%>% off
                                                    </span></h5>

                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <% }) %>
                        </div>

                        <!-- Shop Section End -->
                        <%- include('../layout/end') %>
                            <script>
                                let n = 0
                                let b = 0
                                let categorys = []
                                let brands = []
                                let search
                                let prices=[]
                                let filterprice=[]
                                function category(ID) {

                                    if ($(`#${ID}`).is(':checked') == true) {
                                        categorys[n] = $(`#${ID}`).val()
                                        n++
                                        console.log(categorys);
                                        console.log($(`#${ID}`).is(':checked'))
                                    } else {
                                        console.log($(`#${ID}`).is(':checked'))
                                        console.log(categorys.indexOf(`${$(`#${ID}`).val()}`));
                                        let index = categorys.indexOf(`${$(`#${ID}`).val()}`)
                                        categorys.splice(index, 1)
                                        n--
                                        console.log(categorys);
                                    }
                                    submit(categorys, brands, search,filterprice)

                                }
                                function submit(categorys, brands) {
                                    $.ajax({
                                        url: '/product-filter',
                                        type: 'post',
                                        dataType: 'json',
                                        contentType: 'application/json',
                                        data: JSON.stringify({ categorys, brands, search ,filterprice}),
                                        success: (res) => {
                                            let html = []
                                            if (res.Data) {
                                                console.log(res.Data);
                                                $('#Filter').html('')
                                                res.Data.forEach(value => {
                                                    value.forEach((element, i) => {
                                                        html += `<div class="col-lg-4 col-md-6 col-sm-6 col-xl-3">
                            <a href="/product-deatil?id=${element._id}">
                            <div class="product__item">
                                <div class="product_item_pic set-bg">
                                    <img class="h-100 w-100" src="product/${element.image[0]}" alt="">
                                    <ul class="product__hover">
                                        <li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
                                    </ul>
                                </div>
                                <div class="product_item_text">
                                    <h6>${element.brand}</h6>
                                    <p class="">${element.title}</p>
                                    <a href="/add-cart?id=${element._id}" class="add-cart">+ Add To Cart</a>
                                    <!-- <div  class="rating">
                                        <i class="fa fa-star-o">x</i>
                                        <i class="fa fa-star-o">x</i>
                                        <i class="fa fa-star-o">x</i>
                                        <i class="fa fa-star-o">x</i>
                                        <i class="fa fa-star-o">x</i>
                                    </div> -->
                                    <h5><span class="mx-2">₹${element.price - element.discount}</span><small class="mx-2 text-danger text-decoration-line-through">₹${element.price}</small><span class="text-success mx-2">${(Math.round((element.discount * 100) / element.price))}% off</span></h5>
                                 
                                </div>
                            </div>
                        </a>
                        </div>`

                                                    })

                                                });

                                                $('#Filter').html(html)




                                            }
                                        }
                                    })
                                }



                                function brand(ID) {
                                    if ($(`#${ID}`).is(':checked') == true) {
                                        brands[b++] = $(`#${ID}`).val()
                                    } else {
                                        const index = brands.indexOf($(`#${ID}`).val())
                                        brands.splice(index, 1)
                                        b--
                                    }
                                    submit(categorys, brands, search,filterprice)
                                }

                                function filtersearch() {
                                    search = $('#search').val()
                                    submit(categorys, brands, search,filterprice)
                                }
                                function price(check){
                                    filterprice=[]
                                    let one,two,three,fore
                                    let n=0,index
                                    if($("#ONE").is(':checked')==true){
                                     one=$("#ONE").val()
                                     prices[n]=one
                                     n++
                                    }else if(check==1){
                                        index=prices.indexOf($("#ONE").val())
                                        prices.splice(index,1)
                                        
                                    }
                                    if($("#TWO").is(':checked')==true){
                                        two=$("#TWO").val()
                                        prices[n]=two
                                        n++
                                    }else if(check==2){
                                        index=prices.indexOf($("#TWO").val())
                                        prices.splice(index,1)
                                        
                                    }
                                    if($("#THREE").is(':checked')==true){
                                        three=$("#THREE").val()
                                        prices[n]=three
                                        n++
                                    }else if(check==3){
                                        index=prices.indexOf($("#THREE").val())
                                        prices.splice(index,1)
                                    
                                    }
                                    if($("#FORE").is(':checked')==true){
                                        fore=$("#FORE").val()
                                        prices[n]=fore
                                        n++
                                    }else if(check==4){
                                        index=prices.indexOf($("#FORE").val())
                                        prices.splice(index,1)
                                        
                                    }
                                    let length
                                    if (prices) {
                                         length=prices.length
                                    }
                                   
                                //    console.log(prices[length-1].split(',').length)
                                    if(prices.length==1&&prices[length-1].split(',').length==2){
                                        let first=[prices[length-1]]
                                        first=first[0].split(',')
        
                                        filterprice[0]=first[0]
                                        filterprice[1]=first[1]
                                        
                                    }else if(prices.length==1&&prices[length-1].split(',').length==1){
                                        console.log('50000');
                                        let first=[]
                                         first[0]=prices[0]
                                       filterprice[0]=first[0]
                                        console.log(filterprice);
                                    }else if(prices.length>1&&prices[length-1].split(',').length==2) {
                                        let first=[prices[0]]
                                        let second=[prices[length-1]]
                                    first=first[0].split(',')
                                    second=second[0].split(',')
                                    filterprice[0]=first[0]
                                    filterprice[1]=second[1]
                                        console.log(filterprice);
                                    }else if(prices.length>1&&prices[length-1].split(',').length==1){
                                        let first=[prices[0]]
                                    first=first[0].split(',')
                                    filterprice[0]=first[0]
                                        console.log(filterprice);
                                        console.log('dhcf');
                                    }
                                    submit(categorys, brands, search,filterprice)
                                    
                                }
                            </script>